<script>

$(document).ready(function(){
	var map;
	var service;
	var request;		
	
	alert("amazeballs");
	
	function watchTextbox() {
	  var txtInput = $('#venue-search');
	  var lastValue = txtInput.data('lastValue');
	  var currentValue = txtInput.val();
	  if (lastValue != currentValue && currentValue != '') {
			console.log('Value changed from ' + lastValue + ' to ' + currentValue);
			lookupPlaces(currentValue)
	    txtInput.data('lastValue', currentValue);
	  }
	}
	
	function lookupPlaces(input) {
		
		var pyrmont = new google.maps.LatLng(-33.8665433,151.1956316);

	  map = new google.maps.Map(document.getElementById('map_canvas'), {
	      mapTypeId: google.maps.MapTypeId.ROADMAP,
	      center: pyrmont,
	      zoom: 15
	    });

	  request = {
	    // location: pyrmont,
	    // radius: '500',
	    query: input,
			type: 'establishment'
	  };
	  
		
		service = new google.maps.places.PlacesService(map)
		service.textSearch(request, callback);				
		
	}

	// Check the textbox every 100 milliseconds.  This seems to be pretty responsive.
	setInterval(watchTextbox, 100);

	 
   $( "#list tbody" ).sortable({
			handle: '.dragger',
			cursor: 'move',
			axis: 'y',
			update: function(event, ui){
				console.log($(this).sortable('serialize'))
				$.post($('#list').data('update-url'), ($(this).sortable('serialize')+'&'+$.param({ list_id: '<%= @list.id %>' })));
				
			}
		});
		
});

function callback(results, status) {
$('#results-table').empty()
window.results = results
if (status == google.maps.places.PlacesServiceStatus.OK) {
    for (var i = 0; i < results.length; i++) {
      var place = results[i];
      console.log(place)
			$('#results-table').append("<tr><td><img src='"+results[i].icon+"' width='50px' height='50px'><td><strong>"+results[i].name+"</strong><br/>"+results[i].formatted_address+"<br />(503) 735-5337</td><td><button onclick='createVenue("+i+")' class='btn btn-small add' id='"+i+"'>Add</button></td></tr>")

    }
  }
}


//post to the Create Venue controller
function createVenue(id) {
	var selected = window.results[id];
	console.log(selected.geometry.location.$a);
	$.ajax({
	  type: 'POST',
	  url: '/venues',
	  data: 
		{ list_id: <%= @list.id %>,
			venue:
			{	name: selected.name,
				googleid: selected.id,
				address: selected.formatted_address,
				latitude: selected.geometry.location.lat(),
				longitude: selected.geometry.location.lng()
			}
		},
	  success: addToList(selected),
	});
}

function addToList(selected){
	console.log(selected.name)
}
	
</script>

<style>
	#map_canvas {
/*	        height: 400px;
	        width: 600px;
	        margin-top: 0.6em;
*/	      }
</style>
<div class="span5">
   <h3>2. Add Places to <%= list.name %></h3>

   <h4>Add Places</h4>
   <form class="form">
       <input type="text" class="input-xlarge  search-query" id='venue-search'>
   </form>
   <div class="well">
   <h5>Search Results</h5>

	
   <table class="table table-striped" id='results-table'>
		<!-- this is where search results go -->
   </table>
   </div>
 </div>

<div class="span4">
	<!-- this map div doesn't show anything at the moment but is here to make the maps api work. Will get around to implementing later -->
	<div id="map_canvas"></div> 
	
	<table class="table table-striped" id="list" data-update-url="<%= sort_list_items_url %>">
		<tbody>
			<!-- this is where list items get added -->
  	</tbody>
		</table>
</div>