<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
 
<!-- Le fav and touch icons -->
<link rel="shortcut icon" href="ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
</head>

<body> 
<!-- begin: navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid"><a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a><a class="brand" href="index.php">Placelists</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="#modalLogIn" role="button" data-target="#modalLogIn" data-toggle="modal">Log In</a></li>
          <li><a href="#modalSignUp" role="button" data-target="#modalSignUp" data-toggle="modal">Sign Up</a></li>
          <li class="dropdown"><a href="my-profile.php" class="dropdown-toggle" data-toggle="dropdown">My Account<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="create-placelist.php">Create a Placelist</a></li>
              <li><a href="favorite-places.php">Favorite Places</a></li>
              <li><a href="comments.php">Comments</a></li>
              <li><a href="#modalFindFriends" role="button" data-target="#modalFindFriends" data-toggle="modal">Find Friends</a></li>
              <li class="divider"></li>
              <li class="nav-header">Other Stuff</li>
              <li><a href="#">Settings</a></li>
              <li><a href="#">Logout</a></li>
            </ul>
          </li>
        </ul>
            <?php if ($currentPage != "index.php") { ?>
 
    <div class="input-prepend input-append pull-right" id="search-nav"> <span class="add-on"><i class="icon-search"></i></span>
                  <input class="span2" id="appendedPrependedInput" type="text" placeholder="Enter a place, person or mood">
                  <span class="add-on"><i class="icon-map-marker"></i></span>
                  <input class="span2" id="appendedInputButtons" type="text" placeholder="New York, NY">
                  <button class="btn" type="button">Search</button>
                </div>
        <?php } ?>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</div>
<!--./navbar -->
 
<div id="header"></div>
<div class="container-fluid">
		<%= yield %>
	</div>
</body>
</html>
